
@{
    Layout = "";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Login_Form_with_MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid h-25 w-25 mt-5">
        <p style="color:red">@ViewData["error"]</p>
        <form asp-action="ForgotPassword">

            <h2 class="my-3">Enter Your Email</h2>
            <div class="my-3">
                <input name="u_email" type="email" placeholder="Email Address" class="form-control" />
            </div>


            <div class="mb-3">
                <span style="color:forestgreen">@ViewData["password"]</span>
            </div>

            <div class="text-center mt-3">
                <input type="submit" class="btn btn-primary btn-block w-100" value="Show Password" />
            </div>

        </form>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

